VITE_APP_VERSION=$npm_package_version
VITE_APP_PORT=5005
VITE_BASENAME=/aurora-free
VITE_ASSET_BASE_URL=https://prium.github.io/aurora

# GOOGLE CALENDAR API CREDENTIALS
# Obtenha essas credenciais em: https://console.cloud.google.com/
VITE_GOOGLE_CLIENT_ID=your-client-id-here.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=your-client-secret-here
VITE_GOOGLE_API_KEY=your-api-key-here